aries-cloudagent[indy, bbs, askar]@git+https://github.com/TimoGlastra/aries-cloudagent-python@fix/oob-connectionless
acapy-resolver-universal@git+https://github.com/sicpa-dlab/acapy-resolver-universal.git@main
