[
  {
    "id": "svc1",
    "type": "did-communication",
    "priority": 1,
    "routingKeys": [],
    "recipientKeys": ["#key1"],
    "serviceEndpoint": "http://AGENT_URL:AGENT_PORT"
  },
  {
    "id": "svc2",
    "type": "IndyAgent",
    "priority": 2,
    "routingKeys": [],
    "recipientKeys": ["#key1"],
    "serviceEndpoint": "http://AGENT_URL:AGENT_PORT"
  },
  {
    "id": "svc3",
    "type": "DIDCommMessaging",
    "priority": 2,
    "routingKeys": [],
    "recipientKeys": ["#key4"],
    "serviceEndpoint": "http://AGENT_URL:AGENT_PORT"
  }
]
