asyncpg~=0.18.0
prompt_toolkit~=2.0.9
pygments
git+https://github.com/webpy/webpy.git#egg=web.py
python3-indy
/Users/icostanzo/Projects/aries-cloudagent-python/
#python3-wrapper-vcx
/Users/icostanzo/Projects/indy-sdk/vcx/wrappers/python3/
