<?xml version='1.0' encoding='UTF-8'?>
<configuration>

    <appender name='STDOUT' class='ch.qos.logback.core.ConsoleAppender'>
        <withJansi>true</withJansi>
        <encoder>
            <!--Layout for Debug WITH coloring-->
            <pattern>[%highlight(%-5le)] [%magenta(%d{HH:mm:ss.SSS})] [%yellow(%10.15t)] [%cyan(%lo{25}:%M:%L)] -- %msg %n</pattern>
            <!--Layout for Debug without coloring-->
            <!--<pattern>[%-5le] [%d{HH:mm:ss.SSS}] [%10.15t] [%lo{15}:%M:%L] &#45;&#45; %msg %n</pattern>-->
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>

    <turboFilter class="com.evernym.verity.IgnoreLoggerFilter"/>

</configuration>
